<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new Task</h1>
        <input #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Type here ...">
        <br><br>
        <div class="buttons is-right">
            <div class="button is-medium" routerLink="./..">Cancel</div>
            <div class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">Create</div>
        </div>
    </div>
</div>
